/* Definición de la fuente personalizada */
@font-face {
    font-family: 'MiFuente';  /* Nombre de la fuente personalizada */
    src: url('../imagenes/Ubuntu-Regular.ttf') format('truetype'); /* Ruta de la fuente personalizada en formato truetype */
}

/* Estilos globales para todos los elementos */
* {
    margin: 0;            /* Eliminar margen en todos los elementos */
    padding: 0;           /* Eliminar padding en todos los elementos */
    box-sizing: border-box; /* Incluir bordes y padding en el cálculo del tamaño */
}

/* Variables CSS para colores y medidas */
:root {
    --color-fondo-principal: #000000;     /* Color de fondo principal */
    --color-texto-principal: #ffffff;     /* Color de texto principal */
    --color-primario: #99E89D;            /* Color primario */
    --color-secundario: #006633;          /* Color secundario */
    --color-terciario: #4DA768;           /* Color terciario */
    --color-acento-1: #26874E;            /* Color de acento 1 */
    --color-acento-2: #257236;            /* Color de acento 2 */
    --color-resaltado: #3BC975;           /* Color de resaltado */
    --padding: 30px;                      /* Padding común */
    --paddin-button: 10px;                /* Padding para botones */
    --margin-top: 30px;                   /* Margen superior */
}

/* Estilos generales del cuerpo del documento */
body {
    background: url('../imagenes/fondo pagina principal.png'); /* Imagen de fondo */
    background-repeat: no-repeat;             /* No repetir el fondo */
    font-family: 'MiFuente';                  /* Fuente personalizada */
}

/*PARTE DEL MENU DE NAVEGACION*/

.navbar {
    display: flex;                          /* Mostrar como flexbox */
    align-items: center;                    /* Centrar elementos verticalmente */
    justify-content: space-between;         /* Espacio entre elementos */
    background-color: var(--color-primario); /* Color de fondo */
    padding: 18px 30px;                     /* Padding interno */
    flex-wrap: wrap;                        /* Permitir envolver elementos en pantalla pequeña */
}

.navbar__logo img {
    height: 40px; /* Altura del logo */
}

.navbar__contenedor {
    display: flex;                         /* Mostrar como flexbox */
    flex-direction: column;                /* Dirección de columna para el contenido */
    color: var(--color-fondo-principal);   /* Color de texto */
}

.navbar__title {
    font-size: 16px; /* Tamaño del título */
}

.navbar__subtitle {
    font-size: 11px; /* Tamaño del subtítulo */
}

.navbar__link,
.menu__toggle {
    color: var(--color-fondo-principal); /* Color del enlace */
    padding: 14px 20px; /* Padding del enlace */
    font-size: 16px; /* Tamaño de fuente del enlace */
    text-decoration: none; /* Sin decoración de texto */
    font-weight: bold; /* Peso de la fuente */
}

.navbar__link:hover,
.menu__toggle:hover {
    color: var(--color-acento-1); /* Color al pasar el mouse */
}

.navbar__link:active,
.menu__toggle:active {
    color: var(--color-secundario);         /* Color al hacer clic */
    text-decoration: underline solid;       /* Subrayado sólido al hacer clic */
}

/* Menú desplegable */
.menu {
    position: relative;                     /* Posición relativa */
    display: inline-block;                  /* Mostrar como bloque en línea */
}

.menu__container {
    display: none;                          /* Ocultar contenedor por defecto */
    position: absolute;                     /* Posición absoluta */
    top: 100%;                              /* Alinear en la parte inferior del elemento padre */
    left: 0;                                /* Alinear a la izquierda */
    background-color: var(--color-secundario); /* Color de fondo del menú */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1;                             /* Índice de apilamiento */
    text-align: left;                       /* Alinear texto a la izquierda */
}

.menu__container h2 {
    color: var(--color-texto-principal); /* Color del título */
    margin: 10px; /* Margen */
}

.menu__link {
    color: var(--color-texto-principal); /* Color del enlace */
    padding: 12px 16px; /* Padding del enlace */
    text-decoration: none; /* Sin decoración de texto */
    display: block; /* Bloque de visualización */
}

.menu__link:hover {
    background-color: var(--color-terciario); /* Color de fondo al pasar el mouse */
}

.menu__link:active {
    background-color: var(--color-acento-2); /* Color de fondo al hacer clic */
}

.menu__toggle:hover + .menu__container,
.menu__container:hover {
    display: block; /* Mostrar menú al pasar el mouse */
}

.menu__vector {
    margin: 10px; /* Margen */
}

.menu__heading {
    margin: 10px 0; /* Margen superior e inferior */
}

/* Estilos para los botones */
.button {
    background-color: var(--color-texto-principal); /* Color de fondo */
    color: var(--color-fondo-principal); /* Color de texto */
    padding: 10px 20px; /* Padding del botón */
    border-radius: 10px; /* Radio del borde */
    text-align: center; /* Alinear texto al centro */
    font-weight: bold; /* Peso de la fuente */
    text-decoration: none; /* Sin decoración de texto */
    margin: 0 10px; /* Margen horizontal */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor apuntador */
}

.button:hover {
    background-color: var(--color-terciario); /* Color de fondo al pasar el mouse */
}

.button:active {
    background-color: var(--color-acento-1); /* Color de fondo al hacer clic */
}