@font-face {
    font-family: 'MiFuente';
    src: url('../ingresar/Ubuntu-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background: url('../ingresar/fondo.jpg') no-repeat;
    font-family: 'MiFuente';
}

/*PARTE DEL MENU DE NAVEGACION*/
.navbar {
    display: flex;
    align-items: center;
    background-color: #99E89D;
    padding: 18px 174px;
    flex-wrap: wrap;
}
.navbar-logo {
    margin-right: 20px;
}
.navbar-logo img {
    height: 40px;
}
.navbar-titulo {
    color: #000000;
    font-size: 16px;
    margin-right: auto;
    font-weight: bold;
    margin-top: 10px;
}
.navbar-subtitulo {
    color: #000000;
    font-size: 11px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0px 27px;
}
.navbar a {
    color: #000000;
    padding: 14px 20px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}
.navbar a:hover {
    color: #26874E;
}
.navbar a:active {
    color: #006633;
    text-decoration: underline solid;
}

.menu {
    position: relative;
    display: inline-block;
}

/* Estas reglas CSS controlan la visibilidad del menú desplegable en función de la interacción del usuario:*/
.Megamenu:focus+.menu-contenedor,  /* Muestra el menú desplegable cuando el enlace principal recibe el foco, por ejemplo, cuando se hace clic en él.*/
.menu-contenedor:focus-within { /* Asegura que el menú desplegable permanezca visible si se enfoca cualquier elemento dentro de él.*/
display: block;
}

.menu-contenedor {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100vw; 
    max-width: 86vw; 
    height: 40%;
    background-color: #006633;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.menu-contenedor h2 {
    color: #FFFFFF;
}

.Mega {
    color: #FFFFFF !important; 
    font-weight: normal;
}

.menu-contenedor  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu-contenedor  a:hover {
    color: #99E89D!important;
}

.menu-contenedor  a:active {
    color: #26874E !important;
}

.menu:hover .menu-contenedor  {
    display: block;
}

.Vector {
    margin-top: 50px;
    left: 50%; /* Lo coloca en el centro horizontalmente */
    transform: translateX(1200%); /* Lo ajusta para que esté centrado exactamente */
}

.Megamenu img {
    transition: filter 0.3s;
    margin-left: 5px;
}

.Megamenu:hover img {
    filter: brightness(0) saturate(100%) invert(36%) sepia(55%) saturate(556%) hue-rotate(86deg) brightness(90%) contrast(85%);
}

.Megamenu:active img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(544%) hue-rotate(116deg) brightness(90%) contrast(85%);
}


.button {
    width: 100px; /* Ancho del botón */
    height: 20px; /* Altura del botón */
    background-color: #FFFFFF;
    border: none;
    color: black !important; 
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px; 
}

.button:hover {
    background-color: #4DA768;
    color: black !important; 
}

.button:active {
    background-color: #26874E;
    color: black !important; 
}


/*PARTE DE LA PRIMER SECCION EL FORMULARIO DE INGRESO*/
.logo {
    text-align: center;
    position: relative;
    margin-top: -150px;
}

.container {
    max-width: 900px;
    min-height: 900px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.2); 
    border: #99E89D solid 6px;
    flex-wrap: wrap;
    margin-top: 250px;
}

h1 {
    text-align: center;
    color: #257236;
    font-weight: bold;
    font-size: 50px;
}

h3 {
    text-align: center;
    color: #4DA768;
    font-weight: bold;
    font-size: 30px;
}

h5 {
    text-align: center;
    color: #26874E;
    font-weight: bold;
    font-size: 17px;
    margin-left: 300px;
    margin-top: -20px;
}

p {
    text-align: center;
    color: #257236;
    font-weight: bold;
}

.recuperar-contenedor {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #4DA768;
    font-weight: bold;
    text-align: start;
    margin-left: 230px;
}

.form-group {
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 50%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(77, 167, 104, 0.5); 
    font-weight: bold; 
}


input[type="email"]:focus,
input[type="password"]:focus {
    outline: none; 
}

input:hover {
    border: 2px solid #26874E;
}

input:active {
    border: 2px solid #006633;
}

.parrafo1-contenedor {
margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.button-inicar {
    width: 53%;
    height: 50px;
    padding: 10px;
    background-color: #FFFFFF; 
    color: rgba(77, 167, 104, 0.5);  
    border: 1px solid #ccc;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

.button-inicar:hover {
    background-image: linear-gradient(to right, #99E89D, #4DA768);
    color: rgba(255, 255, 255, 0.5);
}

.button-inicar:active {
    background-image: linear-gradient(to right, #3BC975, #006633);
    color: rgba(255, 255, 255, 0.5);
}

.social-login {
    text-align: center;
    margin-bottom: 20px;
}

.social-login button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 4px solid #FFFFFF;
    background-color: transparent !important;
}

.crear-cuenta-contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
}

.crear-cuenta-contenedor p {
    margin: 0 30px; 
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #4DA768;
}

a:active {
    color: #26874E;
    text-decoration: underline;
}


.boton-con-fondo {
    background-color: #FFFFFF; 
    color: rgba(77, 167, 104, 0.5);  
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    width: 15%;
    height:30px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    line-height: 30px;
}

.boton-con-fondo:hover {
    background-image: linear-gradient(to right, #99E89D, #4DA768);
    color: rgba(255, 255, 255, 0.5);
}

.boton-con-fondo:active {
    background-image: linear-gradient(to right, #3BC975, #006633);
    color: rgba(255, 255, 255, 0.5);
}

/*PARTE DE LA SEGUNDA SECCION LA INFROMACION DE MEGAPAQUETES*/
.section  .contenedor-principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Dividir el contenedor en tres columnas iguales */
    grid-gap: 20px; /* Espacio entre las columnas */
    grid-template-rows: auto auto auto; /* Tres filas automáticas */
    background-color: #99E89D ;
}

.section  .contenedor-titulo {
    grid-column: span 3; 
    margin-left: 20px; /* Espacio entre el logotipo y el título */
}

.section  .contenedor-secundario {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.section  .imagen {
    grid-row: 2; 
    grid-column: 1; 
}

.section  .contenedor-lista {
    grid-row: 1; 
    grid-column: 3; 
}

.section  .contenedor-parrafo01{
    grid-row: 2; 
    grid-column: 3; 
}

.section  .contenedor-parrafo02 {
    grid-row: 3; 
    grid-column: 1; 
}

.section .contenedor-parrafo03 {
    grid-row: 3; 
    grid-column: 2; 
}

.section  .contenedor-parrafo04 {
    grid-row: 3; 
    grid-column: 3; 
}

.minicontenedor h5{
    height: 150px;
    width: 350px;
    color: #FFFFFF;
    background-color: #4DA768;
    border-radius: 15px;
    text-align: start;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.decoraccion {
    color:black
}

/*PARTE DEL PIE DE PAGINA*/
.footer {
    height: 140px;
    background: url('../ingresar/footer.png') no-repeat;
}